.form {
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.field {
  display: inline-flex;
  padding: 14px 0;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #bedbb0;
  opacity: 0.4;
  background: transparent;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  padding-left: 18px;
  outline: none;
}

.field:hover,
.field:focus {
  border: 1px solid #bedbb0;
  outline: none;
  box-shadow: 0 0 0 1px #bedbb0;
}
.field::placeholder {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

.button {
  display: flex;
  width: 287px;
  padding: 14px 99px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #bedbb0;
  margin: 14px 0;
  color: #161616;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.passwordFieldContainer {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.passwordField {
  width: 100%;
  padding-right: 40px;
}

.togglePassword {
  background: none;
  stroke: #ffffff;
  opacity: 0.4;
  position: absolute;
  right: 18px;
  top: 54%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button {
    width: 352px;
  }
  .togglePassword {
    background: none;
    stroke: #ffffff;
    opacity: 0.4;
    position: absolute;
    right: 15px;
    top: 54%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
  }
}
