.wrap{
  display: flex;
  margin-left: 260px;
}

.wrapper {
  display: flex;
  flex-direction:row;
  gap: 34px;
  margin: 10px 24px 10px 24px;
}
.title {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #161616;
}