.wrap {
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  @media screen and (min-width: 1440px){
    margin-left: 260px;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 34px;
  margin: 39px auto 24px 20px;

  @media screen and (min-width: 768px) {
    margin: 26px auto 26px 32px;
  }
  @media screen and (min-width: 1440px) {
    margin: 10px auto 10px 24px;
  }
}
.title {
  font-size: 18px;
  letter-spacing: -0.02em;
  margin: 14px auto auto 20px;
  color: var(--text-color);

  @media screen and (min-width: 768px) {
    margin: 26px auto auto 32px;
  }

   @media screen and (min-width: 1440px) {
    margin: 10px auto auto 24px;
   }
}

.btn {
  width: 64px;
  height: 20px;
  background: transparent;
  color: var(--filter-btn-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 200ms ease;
}

.icon {
  fill: transparent;
  stroke: var(--filter-btn-color);
  transition: 200ms ease;
}

.btn:hover {
  color: var(--card-icon-hover-color);
}

.btn:hover .icon {
  stroke: var(--card-icon-hover-color);
}
