.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 93px 0 0;

  /* width: 104px; */
  height: 32px;
  margin-bottom: 70px;

  @media screen and (min-width: 768px) {
    padding: 0 107px 0 0;
    margin-bottom: 60px;
  }
}

.pro {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
  color: var(--text-color);
}
