.logout_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  background-color: transparent;
  cursor: pointer;
}

.logout_icon {
  stroke: var(--icon-logout-color);
  fill: transparent;
  transition: all 150ms linear;
}
.logout_icon:hover {
  stroke: var(--icon-logout-hover-color);
}

.logout_text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}
