.logout_button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  background-color: transparent;
  margin-bottom: 24px;
  cursor: pointer;
}

.logout_icon {
  stroke: var(--icon-logout-color);
  fill: transparent;
  &:hover {
    stroke: rgb(157, 200, 136);
    transition: 200ms ease-out;
  }
}
.logout_icon:hover {
  stroke: var(--icon-logout-color-hover);
}

.logout_text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}
