.header {
    z-index: 10;
    width: 100%;
    padding: 14px 20px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;

    background-color: var(--header-color);
    color: var(--text-color);
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    color: currentColor;
    transition: color 0.5s ease-in-out;
}

.profile:hover,
.profile:focus,
.profile:active {
    color: var(--text-color-color);
}

.text {
    font-size: 14px;
    letter-spacing: -0.28px;
}
.img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 8px;
}
@media screen and (min-width: 768px) {
    .header {
        padding: 18px 32px;
    }
}
@media screen and (min-width: 1440px) {
    .header {
        padding: 18px 24px;
    }
}
