.help_wrapper {
  border-radius: 8px;
  background-color: var(--background-color-help);
  margin-top: 100px;
  margin-bottom: 24px;
  padding: 14px;

  @media screen and (min-width: 768px) {
    width: 212px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 38px;
  }
}

.kaktus {
  width: 54px;
  height: 78px;
  margin-bottom: 14px;
}

.help_text {
  color: var(--text-color-sidebar);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.24px;
  width: 168px;
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
    width: 172px;
  }
}

.span_text {
  color: var(--text-color-color);
}

.help_link {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
}

.help_link:hover {
  background-color: var(--btn-create);
  border-radius: 8px;
}

.help_icon {
  stroke: var(--text-color-sidebar);
  fill: transparent;
}
.need_text {
  color: var(--text-color-sidebar);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.24px;
}

.help_form {
  @media screen and (min-width: 768px) {
    width: 400px;
  }
}

.modal_help {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 8px;
  background: transparent;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.05);
}

.help_email {
  width: 287px;
  padding: 14px 18px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--btn-create);
  opacity: 0.4;
  margin-bottom: 14px;

  &:hover {
    border-color: var(--btn-create-hover);
    border: 1.5px solid rgb(157, 200, 136);
    transition: 200ms ease-out;
  }
  &::placeholder {
    color: var(--text-color-sidebar);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
  @media screen and (min-width: 768px) {
    width: 352px;
  }
}

.help_comment {
  display: flex;
  width: 287px;
  height: 120px;
  padding: 14px 18px;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--btn-create);
  opacity: 0.4;
  margin-bottom: 24px;
  resize: none;

  &::placeholder {
    color: var(--text-color-sidebar);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
  &:hover {
    border-color: var(--btn-create-hover);
    border: 1.5px solid rgb(157, 200, 136);
    transition: 200ms ease-out;
  }
  @media screen and (min-width: 768px) {
    width: 352px;
  }
}

.send_button {
  width: 287px;
  height: 49px;
  border-radius: 8px;
  background: var(--btn-create);
  color: var(--text-color);

  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  cursor: pointer;
  &:hover {
    background-color: var(--btn-create-hover);
    transition: 200ms ease-out;
  }
  @media screen and (min-width: 768px) {
    width: 352px;
  }
}

.error {
  color: red;
  font-size: 10px;
  margin-top: 5px;
  padding-left: 14px;
}

.help_form {
  @media screen and (min-width: 768px) {
    width: 400px;
  }
}
