.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 287px;
  height: 49px;
  border: 1px solid var(--datepicker-color);
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  opacity: 0.4;
  padding: 14px 0 14px 18px;
  margin-bottom: 14px;
  outline: none;
}
.input:hover,
.input:focus,
.textarea:hover,
.textarea:focus {
  opacity: 1;
}
::placeholder {
  color: var(--add-card-placeholder);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .input {
    width: 302px;
  }
}

.textarea {
  width: 287px;
  height: 154px;
  border: 1px solid var(--datepicker-color);
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  opacity: 0.4;
  resize: none;
  margin-bottom: 24px;
  padding: 14px 0 14px 18px;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .textarea {
    width: 302px;
  }
}

.label {
  color: var(--card-icon-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 80px;
  margin-bottom: 14px;
}

.label_box {
  display: flex;
  column-gap: 8px;
}

.deadline_box {
  margin-bottom: 40px;
}

.deadline_text {
  color: var(--card-icon-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-bottom: 4px;
}

.add_btn {
  width: 287px;
  height: 49px;
  border-radius: 8px;
  background-color: var(--add-another-card-btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(22, 22, 22);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -2%;
  column-gap: 8px;
  &:hover {
    background-color: var(--add-another-card-btn-hover-color);
    transition: 200ms ease-out;
  }
}

@media only screen and (min-width: 768px) {
  .add_btn {
    width: 302px;
  }
}

.icon_wrapper {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: var(--background-color-btn-plus);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  stroke: var(--icon-plus);
}

.date_box {
  display: flex;
}
