.form {
}

.input {
  width: 287px;
  height: 49px;
  box-sizing: border-box;
  border: 1px solid rgb(190, 219, 176);
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  opacity: 0.4;
  padding: 14px 0 14px 18px;
}

.textarea {
}

.label {
}

.deadline_box {
}

.without {
  background-color: rgba(22, 22, 22, 0.3);
}

.high {
  background-color: rgb(190, 219, 176);
}

.medium {
  background-color: rgb(224, 156, 181);
}

.low {
  background-color: rgb(143, 161, 208);
}

.add_btn {
  width: 335px;
  height: 56px;
  border-radius: 8px;
  background-color: rgb(190, 219, 176);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(22, 22, 22);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -2%;
  column-gap: 8px;
  &:hover {
    background-color: rgb(157, 200, 136);
    transition: 200ms ease-out;
  }
}

.icon_wrapper {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  stroke: #fff;
}
