.sidebar {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  background-color: var(--sidebar-color);
  width: 225px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -225px;
  padding: 14px;
  transition: left 0.3s;
  z-index: 1001;

  @media screen and (min-width: 768px) {
    width: 260px;
    /* height: 100%; */
    padding: 24px;
    left: 0;
  }
}

.sidebar.open {
  left: 0;
}
