.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 225px;
  height: 812px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 0px 0px 0px;
}
