.modal_class {
  background-color: var(--modal-bg) !important;
}
.btn {
  background: transparent;
  border: none;
}

.wrapper {
  align-items: center;
  justify-content: center;
  width: 335px;
  color: var(--text-color-dashboard);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: 400;
  margin: 292px auto 380px auto;
}

.span {
  color: var(--text-color-color);
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin: 408px auto 476px auto !important;
    width: 486px;
    font-size: 14px;
    line-height: 1.28571;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    margin: 281px 347px 349px 607px !important;
  }
}

.dashboard {
  display: flex;
  background-color: var(--color-background-dashboard);
  height: 100vh;
}
