.modal_class {
  background-color: var(--modal-bg) !important;
}
.btn {
  background: transparent;
  border: none;
}

.wrapper {
  align-items: center;
  justify-content: center;
  width: 486px;
  color: var(--text-color-dashboard);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  margin: 281px 347px 349px 607px !important;
}

.span {
  color: var(--text-color-color);
}
