.input {
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--color-borders-input);
  opacity: 0.4;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  margin-bottom: 24px;
  width: 287px;
  padding: 14px 18px;
  align-items: center;
  
}
.input:active {
  border: 1.5px solid var(--color-borders-input-active);
}
.icons_p {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-color-modal);
  margin-bottom: 14px;
}
.icon {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  stroke: var(--icons-modal);
  fill: none;
}

.icon.selected {
  stroke: var(--icons-modal-active);
}
input[type="radio"] {
  display: none;
}
.icon_wrapper {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: var(--icon-plus-modal-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus {
  stroke: var(--icon-plus-modal);
}

.btn_create {
  width: 287px;
  height: 49px;
  border-radius: 8px;
  color: var(--icon-plus-modal-background);
  background-color: var(--btn-create);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  column-gap: 8px;
  &:hover {
    background-color: var(--btn-create-hover);
    transition: 200ms ease-out;
  }
}

.backgrounds_div {
  display: inline-flex;
  cursor: pointer;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  margin-bottom: 40px;
  margin-right: 35px;
  width: 252px;
}

.background {
  border-radius: 8px;
}

.label {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;

  margin-bottom: 5px;
}

.icon_input {
  stroke: var(--fill-icons-color);
}
