.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.input {
    border: 1px solid #bedbb0;
    border-radius: 8px;
    width: 302px;
    height: 49px;
    box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
    opacity: 0.4;
    padding: 14px 18px;
    outline: none;
}

.input:hover,
.input:focus {
    opacity: 1;
}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #161616;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 119px;
    gap: 8px;
    border-radius: 8px;
    width: 302px;
    height: 49px;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #161616;
    background-color: #bedbb0;
}

.button:hover,
.button:focus {
    background-color: #9dc888;

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    background-color: #161616;
    border-radius: 6px;
    cursor: pointer;
}

.icon {
    stroke: #fff;
}

.add_title {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #161616;
}