.card_list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  overflow-y: auto;
  margin: 14px 0;
  max-height: 478px;
}

.card_list::-webkit-scrollbar {
  width: 8px;
  height: 142px;
  margin-left: 4px;
}

.card_list::-webkit-scrollbar-track {
  background-color: var(--card-list-scroll-track-color);
  border-radius: 12px;
}

.card_list::-webkit-scrollbar-thumb {
  background-color: var(--card-list-scroll-thumb-color);
  border-radius: 12px;
}
