button {
  background-color: transparent;
  border: none;
  color: currentColor;
}

.background0 {
  background-image: image-set(
    url("./img/background/mobilebackMobile.webp") 1x,
    url("./img/background/mobilebackMobile@2x.webp") 2x,
    url("./img/background/mobilebackMobile.jpg") 1x,
    url("./img/background/mobilebackMobile@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .background0 {
    background-image: image-set(
      url("./img/background/tabletbackTab.jpg") 1x,
      url("./img/background/tabletbackTab@2x.jpg") 2x
    );

    position: relative;
  }
}

/* @media screen and (min-width: 1440px) {
  .background0 {
    background-image: image-set(
      url("./img/background/iMac.webp") 1x,
      url("./img/background/iMac@2x.webp") 2x,
      url("./img/background/iMac.jpg") 1x,
      url("./img/background/iMac@2x.jpg") 2x
    );
  }
} */

@media screen and (min-width: 1440px) {
  .background0 {
    background-color: #000;
  }
}
