.icon {
  stroke: var(--icon-plus);
}

.add_btn {
  width: 335px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--add-another-card-btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -2%;
  column-gap: 8px;
  padding: 0;
  color: var(--background-color-btn-plus);
  &:hover {
    background-color: var(--add-another-card-btn-hover-color);
    transition: 200ms ease-out;
  }
}

.icon_wrapper {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: var(--background-color-btn-plus);
  display: flex;
  justify-content: center;
  align-items: center;
}
