.icon {
  stroke: #fff;
}

.add_btn {
  width: 335px;
  height: 56px;
  border-radius: 8px;
  background-color: rgb(190, 219, 176);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(22, 22, 22);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -2%;
  column-gap: 8px;
  &:hover {
    background-color: rgb(157, 200, 136);
    transition: 200ms ease-out;
  }
}

.icon_wrapper {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
}
