.board_item {
  display: flex;
  flex-direction: row;
  width: 225px;
  margin: 4px 0;
  padding: 0 24px;
  height: 61px;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    width: 260px;
  }
}
.board_name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: normal;
  color: var(--text-color-secondary-sidebar);
  height: 21px;
  width: 100%;
  padding: 20px 0 20px 0;
}

.button_icon {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: 40px;
}
.button_e {
  border: none;
  background: transparent;
}
/* icons style */
.icons {
  display: inline-block;
  cursor: pointer;
  stroke: var(--text-color-secondary-sidebar);
  fill: none;
  margin: 22px 8px 22px 0;
}

.pen_icon {
  width: 16px;
  height: 16px;
  stroke: var(--text-color-secondary-sidebar);
  fill: none;
}

.plus {
  stroke: var(--icon-plus);
}
.active {
  color: var(--text-color-secondary-sidebar);
  background-color: var(--active-board);
  position: relative;
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;
}
.active::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 61px;
  background-image: var(--stroke-active);
  border-radius: 4px 4px 0 0;
  z-index: 2;
}

.icon_name_div {
  display: flex;
  flex-direction: row;
}
.modal_class {
  background-color: var(--modal-bg) !important;
}

.active .board_name {
  color: var(--text-color-sidebar);
}
.active .icons {
  stroke: var(--text-color-sidebar);
}
